<main>
<br/>
<br/>
<br/>
<br/>
<div class = "container">
<div class="card">
  <div class="card-header">
    <h1>New Course</h1>
  </div>
  <div class="card-body">


<%= render 'form', main_course: @main_course %>

<%= link_to 'Back', main_courses_path %>
</div>
</main>
